

@media screen and (max-width: 900px) { 
    .row {
        margin: 0px 0px !important;
    }
    .side-profile .sidebtn {
        display: block;
    }
    .side-profile .side-nav {
        display: none;
    }   
}
.sidebtn {
    display: none;
}
.side-nav {
    display: block;
}

.row {
    margin: 0px 0px !important;
}