body {
    background-color: #f8f9fa !important;
}

@media only screen and (max-width: 991.98px) {
    .section-search {
        min-height: 330px;
    }
}
@media only screen and (max-width: 1199px) {
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media only screen and (max-width: 991.98px) {
    .banner-wrapper {
        max-width: 720px;
    }
}
@media only screen and (max-width: 991.98px) {
    .banner-wrapper .banner-header h1 {
        font-size: 2.125rem;
    }
}
@media only screen and (max-width: 991.98px) {
    .search-box .search-info {
        -ms-flex: 0 0 410px;
        flex: 0 0 410px;
        width: 410px;
    }
}
.container-fluid {
    padding-left: 30px ;
    padding-right: 30px;
}
.banner-wrapper {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}
.banner-wrapper .banner-header {
    margin-bottom: 30px;
}
.banner-wrapper .banner-header h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
}
.banner-wrapper .banner-header p {
    color: #757575;
    font-size: 20px;
    margin-bottom: 0;
}