
body .btn-close, .btn, .form-control, .form-select {
    outline: none !important;
    box-shadow: none !important;
}
/* body { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none; 
} */



.navbar {
    box-shadow: 2px 3px 15px #cccccc !important;
}   
.navbar .btn-outline-primary {
    color: rgb(0, 180, 180) !important;
    background: transparent !important;
    font-weight: 500 !important;
    border:  1px solid rgb(0, 180, 180) !important;
}
.navbar .btn-outline-primary:hover {
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 180, 180) !important;
}
.navbar ul li a {
    color: #000 !important;
    font-weight: 500 !important;
    font-size: medium !important;
}
.navbar ul li {
    padding: 0 5px !important;
}
@media screen and (max-width: 900px) { 
    .navbar img {
        width: 90px !important;
        height: 40px !important;
    }   
}


@media screen and (max-width: 900px) { 
    .row {
        margin: 0px 0px !important;
    }
    .side-profile .sidebtn {
        display: block;
    }
    .side-profile .side-nav {
        display: none;
    }
}
.sidebtn {
    display: none;
}
.side-nav {
    display: block;
}

/* breadcrumb */
.breadc {
    padding: 10px 0 !important;
    height: auto !important;
    background-color: #000 !important;
}
.breadc .breadcrumb p {
    color: #fff !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}
.breadc .breadcrumb h5 {
    color: #fff !important;
    font-weight: 700 !important;
}


.navbar .nav-btn-modal {
    background: none !important;
}

/* .e_log_form {
    max-width: 235px !important;
} */
.e-log img {
    border-radius: 10px !important;
}

.modal-dialog {
    max-width: 500px !important;
}


/* registration */

.reg_cont {
    margin: 40px 0 !important;
}
.reg_cont .forms {
    padding: 30px 5px !important;
    border: 2px solid #a0a0a0 !important;
    border-radius: 5px !important;
}
.reg_cont .forms .reg, .log {
    width: 400px !important;
}
.reg_cont .forms .reg a {
    text-decoration: none !important;
    color: rgb(0, 212, 212);
    font-weight: 500 !important;
}
.reg_cont .forms .log a {
    text-decoration: none !important;
    color: rgb(0, 212, 212);
    font-weight: 500 !important;
}

@media screen and (max-width: 900px) { 
    .reg_cont .bnar {
        display: none !important;
    }
    .reg_cont  .img {
        margin: 0px 0px !important;
    }
    .reg_cont .forms {
        margin: 0px 0px !important;
    }
    .reg_cont .forms .reg {
        width: 10px !important;
        margin: 0px auto !important;
        width: fit-content !important;
    }
    .reg_cont .patreg, .patlog .bnar {
        display: none !important;
    }
    .reg_cont .patreg, .patlog .img {
        margin: 0px 0px !important;
    }
    .reg_cont .forms .reg {
        width: 10px !important;
        margin: 0px auto !important;
        width: fit-content !important;
    }
    .h-captcha iframe {
        padding: 0px 20px !important;
        /* width: 26px !important; */
    }
    #patlog {
        width: 266px !important;
    }
    #doclog {
        width: 266px !important;
    }
    #docreg {
        width: 275px !important;
    }
    #patreg {
        width: 266px !important;
    }
    .formcont {
        margin: 0px 7px !important;
        padding: 0px 0px !important;
        width: fit-content !important;
    }
}

@media screen and (max-width: 900px) { 
    
}





/* slider */


.slider-main .slider-btn {
    background: transparent;
}
.slider .form-control, .form-select {
    max-width: 300px !important;
}
/* .slider::-webkit-scrollbar {
    width: 0 !important;
} */
.slider {
    max-width: fit-content !important;
    width: 100% !important;
    overflow-x: auto !important;
    background: #fff;
}
.slider a {
    color: rgb(97, 97, 97);
    text-decoration: none;
    cursor: pointer;
}
.slider h5 {
    font-weight: 400 !important;
}
.slider small {
    color: rgb(0, 209, 10);
    font-size: small;
    font-weight: 500;
    text-decoration: none;
}


/* doctor card */

.card-body {
    background: #fff;
    max-width: fit-content !important;
    border-radius: 10px;
}
.card-body a {
    color: rgb(0, 131, 253) !important;
    text-decoration: none;
}
.card-body img {
    border-radius: 10px;
}
.card-body h4 {
    font-size: large;
}


/* day and date strip */
.bookingrange .form-control {
    max-width: 70px !important;
}
.bookingrange .form-control::after {
    font-size: 90px;
    color: brown;
}

.time-slots {
    display: flex !important;
    flex-direction: column !important;
}
.time-slots button i{
    font-weight: 200px !important;
    background: none !important;
}
.time-slots button {
    background: rgba(228, 228, 228, 0.699) ;
}
.time-slots button:hover {
    background: #fff;
    border: 1px solid rgba(228, 228, 228, 0.699) ;
}
.time-slots .time-slot-av {
    background: rgb(0, 131, 253);
}



/* pro to pay */
.protopay button {
    font-size: 19px ;
}



/* success card */
.success-cont {
    margin: 100px 0 !important;
}
.success-cont i {
    font-size: 50px !important;
}


/* doc-dashboard */
.doc-dash {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* side profile */
.side-profile {
    background-color: #fff !important;
}
.side-profile img { 
    border-radius: 50% 50%;
}
.side-profile a {
    font-size: 19px;
    color: rgb(0, 131, 253) !important;
    text-decoration: none;
}

.side-nav ul li a {
    color: rgb(87, 87, 87) !important;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.side-nav ul li{
    padding: 12px 0;
    list-style: none;
}
.side-nav ul li a:hover {
    color: rgb(0, 131, 253) !important;
}
.side-nav ul li i{
    padding-right: 15px !important;
}
.side-nav li .s-active {
    font-size: 16px;
    color: rgb(0, 131, 253) !important;
}

/* days row */
.days-row {
    width: 100% !important;
    overflow-x: auto !important;
}
.days-row button {
    text-transform: uppercase;
    border: 1px solid rgb(218, 218, 218);
}
.days-row  .b-active {
    color: #fff !important;
    background: rgb(81, 157, 255);
}


/* slots */
.edit_slots .modal-dialog {
    max-width: 500px !important;
}
.edit_slots .form-control {
    width: 175px !important;
}







/* auth0 */

  .login-container {
    position: relative;
    height: 100%;
  }
  .login-container a {
    text-decoration: none !important;
    color: rgb(0, 212, 212);
    font-weight: 500 !important;
}
  .login-box {
    background-color: #fff;
    border-radius: 5px;
    width: 400px !important;
  }

  .login-header {
    text-align: center;
  }

  .login-header img {
    width: 75px;
  }

  #error-message {
    display: none;
    white-space: break-spaces;
  }