body {
    background-color: #f8f9fa !important;
}

.d-appo-content {
    height: 600px !important;
    overflow: hidden !important;
    overflow-y: scroll !important;
}
.d-appo-content .pat_card {
    border-radius: 10px !important;
    background: #fff !important;
}
@media screen and (max-width: 700px) {
    .pat_card img {
        height: 86px ;
        width: 85px ;
    }
    .pat_card {
        flex-direction: column !important;
    }
    .pet-action {
        margin-top: 19px !important;
    }
    .pet-action .action {
        justify-content: space-around !important;
    }
}
.d-appo-content .pat-det h5 a {
    text-decoration: none !important;
}
.d-appo-content .pat-det p {
    font-weight: 400 !important; 
    font-size: 13px !important;
    padding: 2px 0 !important;
}


.pet-action .action .btn1 {
    color: #1db9aa !important;
    background-color: #1db9a941 !important;
    font-weight: 600 !important;
}
.pet-action .action .btn2 {
    color: #26af48 !important;
    background-color: #26af4836 !important;
    font-weight: 600 !important;
}
.pet-action .action .btn3 {
    color: #e63c3c !important;
    background-color: #e63c3c3d !important;
    font-weight: 600 !important;
}


@media screen and (max-width: 900px) { 
    .row {
        margin: 0px 0px !important;
    }
    .side-profile .sidebtn {
        display: block;
    }
    .side-profile .side-nav {
        display: none;
    }
}
.sidebtn {
    display: none;
}
.side-nav {
    display: block;
}