 

.sidebtn {
    display: none;
}
.side-nav {
    display: block;
}

.row {
    margin: 0px 0px !important;
}

.setScheduleTimings {
    margin: 1% 1% 0 0; 
    padding: 22px 15px;
    border-radius: 20px !important;
    box-shadow: 0 -0.5rem 3rem rgb(0 0 0 / 10%);
}




@media screen and (max-width: 900px) { 
    .row {
        margin: 0px 0px !important;
    }
    .side-profile .sidebtn {
        display: block;
    }
    .side-profile .side-nav {
        display: none;
    }   
}