.navbar {
    background-color: var(--bg-light-fade); 
    color: var(--text-dark);
    border-radius: 1rem;
    box-shadow: 0 1.6rem 3rem rgb(0 0 0 / 10%);
    margin: 1% 1% 0 0;
    backdrop-filter: blur(0.5rem);
    will-change: backdrop-filter;
    /* height: 4rem; */
    display: block !important;
    z-index: 1020 !important;
    transition:.5s ease-in-out;
}

.profileBtnDrop a img {
    height: 45px;
    width: 45px;
    border-radius: 20px !important;
}

.rightNav .search input { 
    border: none;
    height: fit-content;
    background: var(--bg-light-fade);
}

.sideCollapseBtnPat, .sideCollapseBtnDoc {
    transition: .5s ease-in-out;
    display: none;
}