
.theme-dark {
    --bg: #1f2128;
    --text: #ffffff;
}
.theme-light {
    --bg: #ffffff;
    --text: #242731;
}   
:root {
    --bg-index-page: #4d69fa;
    
    /* theams */
    --theam-bg-dark: #1f2128;
    --theam-bg-light: #ffffff;

    /* text colors */
    --text-light: #fafafa;
    --text-dark: #181818;
    --text-gery: #626b74;
    --text-success: #46bcaa;
    --text-danger: #f35421;  
    --text-pink: #ffa2c0;
    --text-primary: #4d69fa;
    --text-purple: #6c5dd3;
    --text-warning: #ffcf52;

    /* background colors */
    --bg-dark: #242731;
    --bg-grey: #ececec;
    --bg-pink: #f3dfe5 !important;
    --bg-light: #fff;
    --bg-purple: #dad7f4;
    --bg-danger: #fff3d4;
    --bg-success: #d1eeea;
    --bg-blue: #edf0ff;
    --bg-success-dark: #46bcaa;
    --bg-light-fade: #ffffff6f;
    --bg-dark-fade: #0000006f;



}




body .btn-close, .btn, .form-control, .form-select, .form-check-input {
    outline: none !important;
    box-shadow: none !important;
}

body {
    /* background-color: var(--theam-bg-dark);  */
}


::-webkit-scrollbar {
    width: 8px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    background: linear-gradient( 60deg, #6b6b6b 0%, #6b6b6b 100%);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #020202;
}


/* body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
} */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* page loading  */
.loading{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999999999;
}



/** Watson styles **/
#WACContainer.WACContainer .WAC  {
    border-radius: 30px !important;
}
#WACContainer.WACContainer .WACBotContainer {
    border-radius: 30px !important;
}
#WACContainer.WACContainer .WACLauncher__ButtonContainer {
    border-radius: 50% !important;
    border-color: transparent !important;
}
#WACContainer.WACContainer .WACLauncher__ButtonContainer.WACLauncher__ButtonContainer--open {
    border-color: #fff !important;
}
#WACContainer.WACContainer button.WAC__button--primary:enabled {
    border-color: transparent !important;
    border-radius: 50% !important;
    background-color: rgb(0, 214, 214) !important;
}

#WACContainer.WACContainer .WAC__header-name {
    visibility: hidden !important;
    font-family: sans-serif !important;
    min-height: 48px;
    text-align: left;
    padding: 12px 12px 12px 0;
}
#WACContainer.WACContainer .WAC__header-name::after {
    visibility: visible !important;
    content: 'Pavankumar\'s Bot' !important;
    position:  absolute !important;
    opacity: 9999999 !important;
    z-index: 9999999999 !important;
    margin-left: -135px !important;
}
#WACContainer.WACContainer .WAC__message .WAC__message-vertical-padding {
    margin-top: 1px !important;
    margin-bottom: 10px !important;
}
#WACContainer.WACContainer .WAC__ChatNonHeaderContainer {
    background: rgb(255, 255, 255) !important;
}

#WACContainer.WACContainer .WAC__connectToAgent--title, #WACContainer.WACContainer .WAC__image--title {
    background: #ffffff !important;
    color: #00d4d4 !important;
    padding: 10px 10px !important;
}
#WACContainer.WACContainer .WAC__button-holder ul li button,
#WACContainer.WACContainer .WAC__messages .WAC__messagesEndChatButton,
#WACContainer.WACContainer .WAC__process-launcher .WAC__button--round,
#WACContainer.WACContainer .WACAlternateSuggestionsOptionsPanel .WAC__button-holder button {
    background: transparent !important;
    color: #00d4d4 !important;
    border: 1px solid #00d4d4 !important;

}
#WACContainer.WACContainer .WAC__button-holder ul li button:hover,
#WACContainer.WACContainer .WAC__messages .WAC__messagesEndChatButton,
#WACContainer.WACContainer .WAC__process-launcher .WAC__button--round,
#WACContainer.WACContainer .WACAlternateSuggestionsOptionsPanel .WAC__button-holder button:hover {
    background: #00d4d4 !important;
    color: #ffffff !important;
    border: 1px solid #00d4d4 !important;

}
#WACContainer.WACContainer .WAC__sent {
    color: rgb(255, 255, 255) !important;
    border: 1px solid #1e65ff !important;
    background-color: #1e65ff !important;
    font-weight: 800 !important;
}
#WACContainer.WACContainer .WAC__message .WAC__received {
    background: #ffffff !important;
    color: #00d4d4 !important;
    padding: 10px 10px !important;
    border: 1px solid !important;
    border-radius: 9px !important;
    font-weight: 800 !important;
}
#WACContainer.WACContainer .WAC__sent:after {
    /* border-left: 8px solid rgb(161, 244, 255) !important; */
    border-top: 8px solid #1e65ff !important;
    bottom: -8px !important;
    content: "" !important;
    position: absolute !important;
    right: -1px !important;
}
#WACContainer.WACContainer .WAC__inputContainer .WAC__TextArea textarea.WAC__TextArea-textarea {
    border: 2px solid #1e65ff !important;
}
#WACContainer.WACContainer button.WAC__send-button.WAC__button--base.WAC__button--primary:disabled {
    color: transparent !important;
}
#WACContainer.WACContainer button.WAC__send-button.WAC__button--base.WAC__button--primary {
    border: none !important;
}
#WACContainer.WACContainer button.WAC__send-button.WAC__button--base {
    border: 2px solid #1e65ff !important;
    background: transparent !important;
    color: blue !important;
    border-left: none !important;
}
#WACContainer.WACContainer .WACAlternateSuggestionsButton__ButtonContainer {
    display: none !important;
}
#WACContainer.WACContainer .WACBrandingBanner__text {
    display: none !important;
}




@media screen and (max-width: 900px) {
    .row {
        margin: 0px 0px !important;
    }
    .side-profile .sidebtn {
        display: block;
    }
    .side-profile .side-nav {
        display: none;
    }
}
.sidebtn {
    display: none;
}
.side-nav {
    display: block;
}

/* breadcrumb */
.breadc {
    border-radius: 1rem;
    padding: 10px 0 !important; 
    box-shadow: 0 1.6rem 3rem rgb(0 0 0 / 10%);
    background-color: var(--bg-light-fade);
    will-change: backdrop-filter; 
    backdrop-filter: blur(0.5rem);
    margin: 1% 1% 0 0;  
    height: 3rem;
    z-index: 1019;

}
.breadc .breadcrumb p {
    color: var(--text-dark);
    font-size: 12px !important;
    font-weight: 600 !important;
}
.breadc .breadcrumb h5 {
    color: #fff !important;
    font-weight: 700 !important;
}


 
/* .e_log_form {
    max-width: 235px !important;
} */
.e-log img {
    border-radius: 10px !important;
}

.modal-dialog {
    max-width: 500px !important;
}


/* registration */

.patientAuthBtn {
    color: #ffcf52 !important;
}
.auth-action-btn-pat-color {
    background: #ffcf52;
}
.doctorAuthBtn {
   color: #4d69fa !important; 
}
.reg_cont {
    margin: 40px 0 !important;
}
.reg_cont .forms {
    padding: 30px 5px !important; 
    border-radius: 25px !important;
    background: var(--bg-dark); 
    box-shadow: 0px 18px 0px -7px #00083754, 0px 32px 0px -12px #021fb859;
}
  
.reg_cont .forms .role-doc { 
    color: #4d69fa;
    font-size: x-large;
    font-weight: 700 !important;
}
.reg_cont .forms .role-pat { 
    color: #ffcf52;
    font-size: x-large;
    font-weight: 700 !important;
}
.reg_cont .forms .authBtns {
    background: #14141469 !important;
    border-radius: 20px !important; 
}
.reg_cont .forms .authBtns button { 
    color: #ffffff;
}

.reg_cont .forms  button { 
    border-radius: 10px;
}

.mainAuthContainer .forms input { 
    font-weight: 600 !important;
    font-size: small;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px !important;
    border: 1px solid #464646 !important;
    background: var(--bg-black) !important;
    color: #fff;
    /* padding: 0px 0px 0px 0px; */
}
.reg_cont .forms .reg, .log, .forgot {
    width: 400px !important;
}
.reg_cont .forms .reg, .log, .forgot h5 {
    text-decoration: none !important;
    color: rgb(0, 212, 212) !important;
    font-weight: 500 !important;
}
/* .reg_cont .forms .log h5 {
    text-decoration: none !important;
    color: rgb(0, 212, 212);
    font-weight: 500 !important;
} */
 
@media screen and (max-width: 900px) {
 
    .reg_cont .forms {
        margin: 0px 0px !important;
    }
    .reg_cont .forms .reg {
        width: 10px !important;
        margin: 0px auto !important;
        width: fit-content !important;
    }
    .reg_cont .patreg, .patlog, .forgot .img {
        margin: 1px 0px !important;
    }
    .reg_cont .forms .reg {
        /* width: 10px !important; */
        margin: 0px auto !important;
        width: fit-content !important;
    } 
 
}
 
/* slider */


.slider-main .slider-btn {
    background: transparent;
}
.slider .form-control, .form-select {
    max-width: 300px !important;
}

.slider h5 {
    font-weight: 400 !important;
}
.slider small {
    color: rgb(0, 209, 10);
    font-size: small;
    font-weight: 500;
    text-decoration: none;
}


/* doctor card */

.card-body {
    background: #fff;
    max-width: fit-content !important;
    border-radius: 10px;
}
.card-body a {
    color: rgb(0, 131, 253) !important;
    text-decoration: none;
}
.card-body img {
    border-radius: 10px;
}
.card-body h4 {
    font-size: large;
}


/* day and date strip */
.bookingrange .form-control {
    max-width: 70px !important;
}
.bookingrange .form-control::after {
    font-size: 90px;
    color: brown;
}

.time-slots {
    display: flex !important;
    flex-direction: column !important;
}
.time-slots button i{
    font-weight: 200px !important;
    background: none !important;
}
.time-slots button {
    background: rgba(228, 228, 228, 0.699) ;
}
.time-slots button:hover {
    background: #fff;
    border: 1px solid rgba(228, 228, 228, 0.699) ;
}
.time-slots .time-slot-av {
    background: rgb(0, 131, 253);
}

 

/* success card */
.success-cont {
    margin: 100px 0 !important;
}
.success-cont i {
    font-size: 50px !important;
}


/* doc-dashboard */
.doc-dash {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* side profile */
.side-profile {
    background-color: #fff !important;
}
.side-profile img {
    border-radius: 50% 50%;
}
.side-profile a {
    font-size: 19px;
    color: rgb(0, 131, 253) !important;
    text-decoration: none;
}

.side-nav ul li a {
    color: rgb(87, 87, 87) !important;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.side-nav ul li{
    padding: 12px 0;
    list-style: none;
}
.side-nav ul li a:hover {
    color: rgb(0, 131, 253) !important;
}
.side-nav ul li i{
    padding-right: 15px !important;
}
.side-nav li .s-active {
    font-size: 16px;
    color: rgb(0, 131, 253) !important;
}

/* days row */
.days-row {
    width: 100% !important;
    overflow-x: auto !important;
}
.days-row button {
    text-transform: uppercase;
    border: 1px solid rgb(218, 218, 218);
}
.days-row  .b-active {
    color: #fff !important;
    background: rgb(81, 157, 255);
}


/* slots */
.edit_slots .modal-dialog {
    max-width: 500px !important;
}
.edit_slots .form-control {
    width: 175px !important;
}







/* auth0 */

  .login-container {
    position: relative;
    height: 100%;
  }
  .login-container a {
    text-decoration: none !important;
    color: rgb(0, 212, 212);
    font-weight: 500 !important;
}
  .login-box {
    background-color: #fff;
    border-radius: 5px;
    width: 400px !important;
  }

  .login-header {
    text-align: center;
  }

  .login-header img {
    width: 75px;
  }

  #error-message {
    display: none;
    white-space: break-spaces;
  }


  /* reset password */

.reset_form {
    width: 450px !important;
}
